<!--
    =========================================================
    * Material Kit 2 - v3.0.4
    =========================================================

    * Product Page:  https://www.creative-tim.com/product/material-kit
    * Copyright 2023 Creative Tim (https://www.creative-tim.com)
    * Coded by www.creative-tim.com

    =========================================================

    * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body class="index-page bg-gray-200">
    {% include navbar.html %}

    {% if page.featured_image != nil %}
    <header class="header-2">
      <div class="page-header min-vh-75 relative" style="background-image: url('{{ page.featured_image | relative_url }}')">
        <span class="mask bg-gradient-primary opacity-4"></span>
        <div class="container">
          <div class="row">
            <div class="col-lg-7 text-center mx-auto">
              <h1 class="text-white pt-3 mt-n5">The Count of Krigsvold</h1>
              <p class="lead text-white mt-3">This we must protect.</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    {% else %}

    {% endif %}

    <div class="card card-body blur shadow-blur mx-3 mx-md-4 mt-n6">

      <section class="pt-3 pb-4" id="count-stats">
        <div class="container">
          <div class="row">
            <div class="col-lg-9 mx-auto py-3">
              <div class="row">
                <div class="col-md-4 position-relative">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"><span id="state1" countTo="411">0</span> million</h1>
                    <h5 class="mt-3">Metric Tons</h5>
                    <p class="text-sm font-weight-normal">Antarctic ice mass lost per <i>day</i> due to climate change since 2003</p>
                  </div>
                  <hr class="vertical dark">
                </div>
                <div class="col-md-4 position-relative">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"> <span id="state2" countTo="77">0</span>%</h1>
                    <h5 class="mt-3">Antarctic Penguin</h5>
                    <p class="text-sm font-weight-normal">Population loss since 1970</p>
                  </div>
                  <hr class="vertical dark">
                </div>
                <div class="col-md-4">
                  <div class="p-3 text-center">
                    <h1 class="text-gradient text-primary"><span id="state3" countTo="40">0</span>%</h1>
                    <h5 class="mt-3">Acidification Increase</h5>
                    <p class="text-sm font-weight-normal">In the Southern Ocean since the start of the Industrial Age</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="my-5 py-5">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
              <div class="rotating-card-container">
                <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5">
                  <div class="front front-background" style="background-image: url({{ '/assets/img/card-front.jpg' | relative_url }}); background-size: cover;">
                    <div class="card-body py-7 text-center">
                      <i class="material-icons text-white text-4xl my-3">public</i>
                      <h3 class="text-white">Explore Antarctica's <br /> Climate Challenge</h3>
                      <p class="text-white text-bold opacity-8">Discover how Antarctica's fragile ecosystem is at the forefront of climate change.</p>
                    </div>
                  </div>
                  <div class="back back-background" style="background-image: url({{ '/assets/img/card-back.jpg' | relative_url }}); background-size: cover;">
                    <div class="card-body pt-7 text-center">
                      <h3 class="text-white">Join the Cause</h3>
                      <p class="text-white text-bold opacity-8">Be part of a global effort to safeguard Antarctica. Every action counts towards a healthier planet.</p>
                      <a href="{{ '/get-involved' | relative_url }}" class="btn btn-white btn-sm w-50 mx-auto mt-3">Learn How to Help</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 ms-auto">
              <div class="row justify-content-start">
                <div class="col-md-6">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">ac_unit</i>
                    <h5 class="font-weight-bolder mt-3">Rapid Ice Melt</h5>
                    <p class="pe-5">The West Antarctic Ice Sheet's accelerated melting contributes to global sea level rise.</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">thermostat</i>
                    <h5 class="font-weight-bolder mt-3">Warming Continents</h5>
                    <p class="pe-3">Antarctica's temperature rises, affecting ecosystems and ice stability.</p>
                  </div>
                </div>
              </div>
              <div class="row justify-content-start mt-5">
                <div class="col-md-6 mt-3">
                  <i class="material-icons text-gradient text-primary text-3xl">pets</i>
                  <h5 class="font-weight-bolder mt-3">Endangered Ecosystems</h5>
                  <p class="pe-5">Climate change disrupts food webs, threatening penguins, seals, and krill.</p>
                </div>
                <div class="col-md-6 mt-3">
                  <div class="info">
                    <i class="material-icons text-gradient text-primary text-3xl">science</i>
                    <h5 class="font-weight-bolder mt-3">Research and Response</h5>
                    <p class="pe-3">Scientific research drives efforts to mitigate Antarctica's climate impacts.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    {% include footer.html %}
    {% include jscode.html %}
  </body>

</html>
